{{>header}}
<section class="header_banner">	
	<!--------- curve corner -------->
	<div class="bacCurv"></div>
	<!--div class="imgCurv">
		<img src="/img/banner_img.png">
	</div-->
	<div class="big_container">
		<div class="header_contain">
			<div class="header_contain_inner">
				<h1 style="font-size:65px;">{{title}}</h1>
				<p>{{errorMessage}}</p>
			</div>
		</div>
	</div>
	<img src="/img/header_banner.png">
</section>
<!---- start content Listing wrap ---->


{{>footer}}