{{>header}}
<!---- start header banner ---->
	<div class="top_banner">		
		<div class="col-xs-12 col-sm-12 col-md-5 topBannerImg">
			<picture>
				<img src="/img/mlb-home.jpg" />
			</picture>
		</div>		
		<div class="col-xs-12 col-sm-12 col-md-6 topBannerContent">
			<article>
				<h1>{{title}}
					<small>{{helptext}}</small>
				</h1>				
				<p>We provide you with Daily Fantasy Sports Reviews and Promo Codes for all of the Daily Fantasy Sports platforms, Prop Play websites, and Sportsbooks.</p>
				<span><a href="#" class="btn_01">go premeum now</a></span>
			</article>
		</div>
	</div>
<!---- start content Listing wrap ---->

<section class="contentListing_wrap">
	<div class="container">
		<div class="contentListing_inner indexInnerContent">
		
			<div class="col-xs-12 col-sm-12 col-md-9 postsWrap">
				<h1>enter heading</h1>
				
				<div class="postsWrapInner">
					<div class="col-xs-12 col-sm-6 col-md-4 postsImg">
						<picture><img src="/img/postsImg.png"></picture>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-8 postsContent">
						<article>
							<h3>Lorem Ipsum is simply dummy text..</h3>
							<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
							<a href="#">read more</a>
						</article>
					</div>				
				</div>
				
				<div class="postsWrapInner">
					<div class="col-xs-12 col-sm-6 col-md-4 postsImg">
						<picture><img src="/img/postsImg.png"></picture>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-8 postsContent">
						<article>
							<h3>Lorem Ipsum is simply dummy text..</h3>
							<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
							<a href="#">read more</a>
						</article>
					</div>				
				</div>
				
				<div class="postsWrapInner">
					<div class="col-xs-12 col-sm-6 col-md-4 postsImg">
						<picture><img src="/img/postsImg.png"></picture>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-8 postsContent">
						<article>
							<h3>Lorem Ipsum is simply dummy text..</h3>
							<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
							<a href="#">read more</a>
						</article>
					</div>				
				</div>
				
				<div class="postsWrapInner">
					<div class="col-xs-12 col-sm-6 col-md-4 postsImg">
						<picture><img src="/img/postsImg.png"></picture>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-8 postsContent">
						<article>
							<h3>Lorem Ipsum is simply dummy text..</h3>
							<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
							<a href="#">read more</a>
						</article>
					</div>				
				</div>
				
				<div class="postsWrapInner">
					<div class="col-xs-12 col-sm-6 col-md-4 postsImg">
						<picture><img src="/img/postsImg.png"></picture>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-8 postsContent">
						<article>
							<h3>Lorem Ipsum is simply dummy text..</h3>
							<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
							<a href="#">read more</a>
						</article>
					</div>				
				</div>
				
			</div>
			{{>sidebar}}
			<div class="black_boxWrap">
				<h1>nba</h1>
				
				<div class="col-xs-12 col-sm-6 col-md-4 blackBoxContent">
					<div class="blackBoxContentInner">
						<picture>
							<img src="/img/nbaImg.jpg">
						</picture>
						<h4>
							There are many variations of passages of Lorem.
							<small>Daily Fantacy Basketball / 3 weeks ago</small>
						</h4>
						<a href="#" class="btn_01">know more</a>
					</div>
				</div>
				
				<div class="col-xs-12 col-sm-6 col-md-4 blackBoxContent">
					<div class="blackBoxContentInner">
						<picture>
							<img src="/img/nbaImg.jpg">
						</picture>
						<h4>
							There are many variations of passages of Lorem.
							<small>Daily Fantacy Basketball / 3 weeks ago</small>
						</h4>
						<a href="#" class="btn_01">know more</a>
					</div>
				</div>
				
				<div class="col-xs-12 col-sm-6 col-md-4 blackBoxContent">
					<div class="blackBoxContentInner">
						<picture>
							<img src="/img/nbaImg.jpg">
						</picture>
						<h4>
							There are many variations of passages of Lorem.
							<small>Daily Fantacy Basketball / 3 weeks ago</small>
						</h4>
						<a href="#" class="btn_01">know more</a>
					</div>
				</div>
				
			</div>
			
			<div class="black_boxWrap">
				<h1>mlb</h1>
				
				<div class="col-xs-12 col-sm-6 col-md-4 blackBoxContent">
					<div class="blackBoxContentInner">
						<picture>
							<img src="/img/mlb_Img.jpg">
						</picture>
						<h4>
							There are many variations of passages of Lorem.
							<small>Daily Fantacy Basketball / 3 weeks ago</small>
						</h4>
						<a href="#" class="btn_01">know more</a>
					</div>
				</div>
				
				<div class="col-xs-12 col-sm-6 col-md-4 blackBoxContent">
					<div class="blackBoxContentInner">
						<picture>
							<img src="/img/mlb_Img.jpg">
						</picture>
						<h4>
							There are many variations of passages of Lorem.
							<small>Daily Fantacy Basketball / 3 weeks ago</small>
						</h4>
						<a href="#" class="btn_01">know more</a>
					</div>
				</div>
				
				<div class="col-xs-12 col-sm-6 col-md-4 blackBoxContent">
					<div class="blackBoxContentInner">
						<picture>
							<img src="/img/mlb_Img.jpg">
						</picture>
						<h4>
							There are many variations of passages of Lorem.
							<small>Daily Fantacy Basketball / 3 weeks ago</small>
						</h4>
						<a href="#" class="btn_01">know more</a>
					</div>
				</div>
				
			</div>
			
			
			
			
		</div>
	</div>
</section>

{{>footer}}