<!--------footer---------->

<footer>
	<div class="container">
		<div class="footerInner">
			<div class="partnersSlideWrp">
				<h1>our partners</h1>
				<ul id="flexiselDemo3">
					<li><span><img src="/img/slide_logo_01.gif"></span></li>
					<li><span><img src="/img/slide_logo_02.gif"></span></li>
					<li><span><img src="/img/slide_logo_03.png"></span></li>
					<li><span><img src="/img/slide_logo_04.png"></span></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 footBlock">
				<div class="footBlockInner">
					<a href="#" class="f_logo"><img src="/img/main_logo.png"></a>
					<p>We know you love DFS but there is a new game in town! Monkey Knife Fight brings props-style games online. Pick your favorite player’s Over/Under or in head-to-head action in Rapid Fire.</p>
					<a href="#" class="btn_01">get gold now!</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-7 footBlock footBlock2">
				<div class="footBlockInner">
					<h3>quick links</h3>
					<ul class="footerLinks">
						<li><a href="#">home</a></li>
						<li><a href="#">MMA</a></li>
						<li><a href="#">betting</a></li>
						<li><a href="#">esports</a></li>
						<li><a href="#">soccer</a></li>
						<li><a href="#">NBA</a></li>
						<li><a href="#">NHL</a></li>
						<li><a href="#">golf</a></li>
						<li><a href="#">off season</a></li>
						<li><a href="#">product</a></li>
						<li><a href="#">about</a></li>
						<li><a href="#">account</a></li>
					</ul>
				</div>
			</div>
			
			<div class="endFooter">
				<p>©2020 <b>WIN DAILY.</b> ALL RIGHTS RESERVED.</p>
				<ul class="footerSocial">
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram"></i></a></li>
					<li><a href="#"><i class="fa fa-youtube"></i></a></li>
				</ul>
			</div>
			
		</div>
	</div>
</footer>


</body>
</html>