<div class="col-xs-12 col-sm-12 col-md-3 sidebarWrap">
				<aside>
				
					<div class="asideSideContain">
						<picture>
							<img src="/img/wd-nba.jpeg">							
						</picture>
						<article>
							<h4>
								There are many variations of passages of Lorem Ipsum available.
								<small>Daily Fantacy Basketball / 3 weeks ago</small>
							</h4>
							<a href="#" class="sideBtn">read more</a>
						</article>
					</div>
				
					<div class="asideSideContain">
						<picture>
							<img src="/img/wd-mlb.jpg">							
						</picture>
						<article>
							<h4>
								There are many variations of passages of Lorem Ipsum available.
								<small>Daily Fantacy Basketball / 3 weeks ago</small>
							</h4>
							<a href="#" class="sideBtn">read more</a>
						</article>
					</div>
				
					<div class="asideSideContain">
						<picture>
							<img src="/img/wd-mlb.jpg">							
						</picture>
						<article>
							<h4>
								There are many variations of passages of Lorem Ipsum available.
								<small>Daily Fantacy Basketball / 3 weeks ago</small>
							</h4>
							<a href="#" class="sideBtn">read more</a>
						</article>
					</div>
				
					<div class="analystWrp">
						<h1>featured analysts</h1>
						
						<div class="analystBlock">
							<picture class="col-xs-4"><img src="/img/tommyg.jpg"></picture>
							<article class="col-xs-8">
								<h3>
									Enter Dummy Name
									<small>MLB Analyst, Founder</small>
								</h3>
								<a href="#">know more</a>
							</article>
						</div>
						
						<div class="analystBlock">
							<picture class="col-xs-4"><img src="/img/tommyg.jpg"></picture>
							<article class="col-xs-8">
								<h3>
									Enter Dummy Name
									<small>MLB Analyst, Founder</small>
								</h3>
								<a href="#">know more</a>
							</article>
						</div>
						
						<a href="#" class="viewAnalistBtn">View All Analysts <i class="fa fa-long-arrow-right"></i></a>
						
					</div>
					
				</aside>
			</div>